<!DOCTYPE html>
<html>
  <head>
    <title>Paula D<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is my life<%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
